<!DOCTYPE html>
<html lang="ro">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link rel="canonical" href="https://solon.agency/blog/{{slug}}" />

  <!-- Primary Meta Tags -->
  <title>{{title}} | SOLON Blog</title>
  <meta name="title" content="{{title}} | SOLON Blog" />
  <meta name="description" content="{{description}}" />
  <meta name="robots" content="index,follow" />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://solon.agency/blog/{{slug}}" />
  <meta property="og:title" content="{{title}} | SOLON Blog" />
  <meta property="og:description" content="{{description}}" />
  <meta property="og:image" content="https://solon.agency/assets/img/solon-metaimage.png" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://solon.agency/blog/{{slug}}" />
  <meta property="twitter:title" content="{{title}} | SOLON Blog" />
  <meta property="twitter:description" content="{{description}}" />
  <meta property="twitter:image" content="https://solon.agency/assets/img/solon-metaimage.png" />

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="../../assets/img/favicon/site.webmanifest">
  <link rel="mask-icon" href="../../assets/img/favicon/safari-pinned-tab.svg" color="var(--primary)">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../assets/css/style.min.css" rel="stylesheet">
  <link href="../../assets/css/blog.css" rel="stylesheet">

  <style>
    /* Ensure the header is visible on blog pages */
    .breadcrumbs {
      margin-top: 70px;
    }
  </style>

  <!-- ahrefs analytics tracking code for SOLON -->
  <script src="https://analytics.ahrefs.com/analytics.js" data-key="z5PGzF2CC/ySPLo7wt8k5w" async></script>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto"><a href="../../" class="hover-no-underline" aria-label="SOLON - pagina principală">
          <img alt="Logo SOLON, agenția digitală pentru avocați" src="../../assets/img/solon-logo.png" width="250" height="250" />
          <span aria-hidden="true">SOLON</span></a></div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link" href="../../#servicii">Servicii</a></li>
          <li><a class="nav-link" href="../../studii-de-caz/">Studii de caz</a></li>
          <li><a class="nav-link active" href="../../blog/">Blog</a></li>
          <li><a class="getstarted scrollto mr-1" href="../../programare-consultanta-gratuita/">Programează consultanță
              gratuită</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  <main id="main">
    {{body}}
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <!-- ======= Newsletter Section ======= -->
    <div class="footer-newsletter blog-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="section-title">
            <h2>Newsletter</h2>
          </div>
          <div class="col-lg-7">
            <h3>Abonează-te la noutăți din domeniul LegalTech</h3>
            <p>Poți câștiga un pachet de servicii GOLD în valoare de 349€</p>
            <div id="mc_embed_shell">
              <div id="mc_embed_signup">
                <form
                  action="https://agency.us21.list-manage.com/subscribe/post?u=8cfcf6d7f1f80308125058838&amp;id=c9db637b01&amp;f_id=00a6f8e6f0"
                  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                  target="_self" novalidate="">
                  <div id="mc_embed_signup_scroll">
                    <div class="mc-field-group">
                      <label for="mce-EMAIL-newsletter" class="form-label visually-hidden">Adresă de email pentru
                        newsletter</label>
                      <input type="email" name="EMAIL" class="required email" id="mce-EMAIL-newsletter" required=""
                        value="" autocomplete="email">
                    </div>
                    <div hidden=""><input type="hidden" name="tags" value="3016574"></div>
                    <div id="mce-responses" class="clear">
                      <div class="response" id="mce-error-response" style="display: none;"></div>
                      <div class="response" id="mce-success-response" style="display: none;"></div>
                    </div>
                    <div aria-hidden="true" style="position: absolute; left: -5000px;"><input type="text"
                        name="b_8cfcf6d7f1f80308125058838_c9db637b01" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" name="subscribe" id="mc-embedded-subscribe-newsletter"
                        class="button" value="Subscribe"></div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Newsletter Section -->

    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-6 footer-links">
            <h3>Follow us</h3>
            <ul>
              <li>
                  <i class="bx bxl-instagram" aria-hidden="true" ></i>
                  <a href="https://www.instagram.com/solon.agency" target="_blank">Instagram</a>
              </li>
              <li>
                  <i class="bx bxl-facebook" aria-hidden="true"></i>
                  <a href="https://www.facebook.com/people/SOLON-Agency/61554025732235/" target="_blank">Facebook</a>
              </li>
              <li>
                  <i class="bx bxl-linkedin" aria-hidden="true"></i> 
                  <a href="https://www.linkedin.com/company/solonagency/" target="_blank">LinkedIn</a>
              </li>
              <li>
                  <i class="bx bxl-twitter" aria-hidden="true"></i> 
                  <a href="https://www.twitter.com/solon_agency" target="_blank">Twitter</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-6 col-sm-6 footer-links">
            <h3>Linkuri utile</h3>
            <ul>
              <li> <a href="/blog/">Blog LegalTech</a></li>
              <li> <a target="_blank" href="../../terms/">Termeni și condiții</a></li>
              <li> <a target="_blank" href="../../cookies/">Politica cookie</a></li>
              <li> <a target="_blank" href="../../privacy/">Politică de confidențialitate</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact">
            <img alt="SOLON" src="../../assets/img/solon-logo-dark.png" height="70" />
            <h3>SOLON</h3>
            <p>
              <a class="color-primary" href="tel:+40774431127">0774 431 127</a><br>
              <a class="color-primary" href="mailto:contact@solon.agency" target="_blank">contact@solon.agency</a><br>
            </p>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        <b>SOLON</b> &copy; <span data-current-year></span>
      </div>
      <div class="credits">
        Servicii digitale complete pentru mediul juridic
      </div>
    </div>
  </footer>
  <!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"
    aria-label="Înapoi la începutul paginii"><i class="bi bi-arrow-up-short" aria-hidden="true"></i></a>

  <!-- Vendor JS Files -->
  <script src="../../assets/vendor/aos/aos.js"></script>
  <script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../../assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="../../assets/js/main.min.js"></script>
  <script src="../../assets/js/dynamic-year.min.js"></script>
  {{scripts}}
</body>

</html>
